<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    {% load static%}
    {% block js_additional %}
    <script src="{% static 'main/js/scrypt.js' %}"></script>
    {% endblock %}
    {% load static%}
    {% block css_additional %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}"/>
    {% endblock %}
    <title>Сервис Кулинарных рецептов</title>
  </head>
  <body class="body">
    <div class="futer">
    {% load static%}
    {% block logo_additional %}
    <div class = "logo">
        <a href="{% url 'index' %}" class = "logo1"></a>
      </div>
    {% endblock %}
      <h1 style="font-family: comic sans ms; font-size: 2.1rem;">Рецепты на каждый день жизни</h1>
    </div>
    <div class="futer">
      {% load static%}
      {% block url1_additional %}
      <a href="{% url 'index' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>приготовить</span>
          <span>Главное</span>
        </button>
      </a>
      {% load static%}
      {% block url2_additional %}
      <a href="{% url 'zavtrak' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>устроим</span>
          <span>Завтрак</span>
        </button>
      </a>
      {% load static%}
      {% block ur3_additional %}
      <a href="{% url 'obed' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>нашинкуем</span>
          <span>Обед</span>
        </button>
      </a>
      {% load static%}
      {% block ur4_additional %}
      <a href="{% url 'uzhin' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>чисто от души</span>
          <span>Ужин</span>
        </button>
      </a>
      {% load static%}
      {% block ur5_additional %}
      <a href="{% url 'login' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>в личный кабинет</span>
          <span>Вход</span>
        </button>
      </a>
    </div>
    <div>
      <form method="post" class="search">
        {% csrf_token %}
          <input type="search" name="q" placeholder="Поиск по сайту" class="input">
          <a href="{% url 'poisk_str' %}">
              <input type="submit" value="" class="submit">
          </a>
          </input>
      </form>
    </div>
    <div class="welcome-block">
      <div class="btn-styl" style="font-family:'Times New Roman'; font-size: 1.2rem;">
        <form method="post" action="{% url 'login_sign_in' %}">
          {% csrf_token %}
          <h2  style="font-family:'Times New Roman'"> Страница входа</h2>
          <p>
            <label style="font-family:'Times New Roman'">Логин</label>
            <input style="font-family:'Times New Roman'" class="serch-text bacgr" type='text' name='login' title='Username' />
          </p>
          <p>
            <label style="font-family:'Times New Roman'">Пароль</label>
            <input class="serch-text bacgr" type='password' name='password' title='Password' />
          </p>
          <p>
            <input  style="font-family:'Times New Roman'" style="font-family:'Times New Roman'" type='submit' value="Войти"/>
          </p>
        </form>
    </div>
    </div>
  </body>
</html>
