<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    {% load static%}
    {% block js_additional %}
    <script src="{% static 'main/js/scrypt.js' %}"></script>
    {%endblock%}
    {% load static%}
    {% block css_additional %}
    <link rel="stylesheet" type="text/css" href=" {% static 'main/css/style.css' %} " />
    {%endblock%}
    <title>Завтрак</title>
  </head>
<body>
    <div class="futer">
      <h1 class="">Рецепты на каждый день жизни</h1>
    </div>
    <div class="futer">
      {% load static%}
      {% block url1_additional %}
      <a href="{% url 'index' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>приготовить</span>
          <span>Главное</span>
        </button>
      </a>
      {% load static%}
      {% block url2_additional %}
      <a href="{% url 'zavtrak' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>устроим</span>
          <span>Завтрак</span>
        </button>
      </a>
      {% load static%}
      {% block ur3_additional %}
      <a href="{% url 'obed' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>нашинкуем</span>
          <span>Обед</span>
        </button>
      </a>
      {% load static%}
      {% block ur4_additional %}
      <a href="{% url 'uzhin' %}">
        {% endblock %}
        <button class="custom-btn btn-12">
          <span>чисто от души</span>
          <span>Ужин</span>
        </button>
      </a>
    </div>
    <div class="recept-list">
            <div>
                {%for i in zavtrak_id %}
                <div>
                    <img src="data:image/jpeg;base64,{{ photo }}" class="photo2">
                </div>
                <h1> </h1>
                <h3>{{i.name_pecipe}}</h3>
                <p>Описание рецепта: {{i.description_recept}}</p>
                <p>Время приготовления рецепта - {{i.cooking_time}} минут</p>
                <p style="white-space: pre-wrap;"> Инструкция приготовления: <br> {{cooking_re}}</p>
                <p style="white-space: pre-wrap;">{{ingredients_re}}</p>
                {%endfor%}
            </div>
    </div>
</body>
</html>
